__pycache__/
*.py[cod]
.pytest_cache/

src/data/Z24-dataset-processed/
data/

outputs/**/*.pt
outputs/**/*.csv
outputs/**/*.json
outputs/**/*.npy
outputs/**/*.png
outputs/**/*.txt
outputs/*.pt
outputs/*.csv
outputs/*.json
outputs/*.npy
outputs/*.png
outputs/*.txt
